body, html{

  background-color: #F9F9F9;
}

#root{

}
.docpage-body{
  padding: 0 20px;
  margin-top: 45+50px;
  height: 100%;
}

.category-block{
  margin-bottom: 20px;

  width: 200px;

  h3{
    font-weight: 600;
    color: #393939;
    font-size: 18px;
    margin-bottom: 6px;
  }
  a{
    display: block;
    padding: 4px 0;
    // font-size: 16px;
    padding-left: 10px;
    color: #717171;
    transition: color .3s;

    &:hover{
      color: #2e8555;
    }
    &.active{
      color: #2e8555;
    }
  }

  .block-header{
    vertical-align: middle;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }

}

.article-wrap, .outline-wrap{

}
